.footer{
    padding: 0.8rem calc((100vw - 1100px) / 2);
    background: #014F53;
}

.footer-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fcopy h1{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.fsocial-icon{
    padding: 0 25px 0 25px;
    display: flex;
    gap: 13px;
}

.fsocial-icon li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06696e;
}

.fsocial-icon li i{
    color: #ffffff;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    .footer-container{
        width: 80%;
    }

    .fsocial-icon{
        padding: 0 10px 0 10px;
        gap: 12px;
    }
    
    .fsocial-icon li{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    
    .fsocial-icon li i{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 400px){
    .footer-container{
        width: 90%;
    }

    .footer-logo{
        height: 20px;
    }

    .fcopy h1{
        font-size: 10px;
        line-height: 15px;
    }

    .fsocial-icon{
        padding: 0 5px 0 5px;
        gap: 6px;
    }
    
    .fsocial-icon li{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    
    .fsocial-icon li i{
        font-size: 0.7rem;
    }
}